body{
    background-color: #3198ff;
    display: flex;

}
.box{    
    margin: 0 auto;
    width: 30%;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
}
.box_title h1{
    text-align: center;
}
.box__text{
    font-size: large;
}