* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(#087780, #384981);
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz {
    background-color: #fff;
    width: 450px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 5px 0px 25px;
    padding: 50px;
    text-align: center;
}

.quiz__title {
    font-size: 16px;
}

.quiz__question {
    padding: 20px;
    font-size: 18px;
}

.quiz__answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #fff;
}

.quiz__answer {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    width: 150px;
    background-color: #2c3965;
    border: none;
}

.quiz__answer_invalid,
.quiz__answer_valid {
    position: relative;
    border: none;
    background-color: #556391;
}

/* .quiz__answer_valid::after{
    content: '';
    background-color: #5ecf67;
} */
.quiz__answer_valid {
    
    background-color: #5ecf67;
}
.quiz__answer_invalid{
    background-color: #b22b2b;
}

/* .quiz__answer_invalid::after {
    content: '';
    background-color: #b22b2b;
} */

.quiz__btn {
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #6a0f83;
    color: #fff;
}

.quiz__btn_disable{
    opacity: 0.5;
    pointer-events: none;
}